<h2>Accounts</h2>
<ul class="accounts">
  <li *ngFor="let account of accounts"  [class.selected]="account === selectedAccount"  (click)="onSelect(account)" >
    <!--
    <button [class.selected]="account === selectedAccount" type="button" (click)="onSelect(account)"></button>    
    -->
    <span class="badge">{{account.id}}</span>
    <span class="number">{{account.number}}</span>
    <span class="description">{{account.description}}</span> 
  </li>
</ul>  

<div *ngIf="selectedAccount">
  <app-account-detail [account]="selectedAccount"></app-account-detail>
</div>